@import "/src/global.scss";

//setting default font color
* {
  font-size: $m-font;
  color: black;
  font-family: "Poppins";
}

.container {
  display: grid;
  grid-template-rows: 35vh 65vh;
  background-color: black;
  .logo-container {
    @include flex-center(column, center);
    height: 100%;
    .logo {
      height: auto;
      width: 70%;
      max-width: 320px;
      margin: 0.5rem;
      object-fit: contain;
    }
  }

  //   //card that contains the input options
  //   .card {
  //     @include flex-center(column, space-evenly);
  //     background-color: $card-background;
  //     border-radius: 1rem 1rem 0em 0em;
  //     min-height: fit-content;
  //     overflow-y: auto;
  //     overscroll-behavior: none;
  //   }

  //   h1 {
  //     font-size: $l-font;
  //     color: $ready-red;
  //     font-weight: 600;
  //     margin: 2.5vh 0;
  //   }
  // }

  // //regular login and password input
  // .login-form {
  //   @include flex-center(column, center);
  // }

  // .input-container {
  //   @include flex-center(row, center);
  //   margin: 0.5em 0em;
  //   border-radius: 2em;

  //   width: 85%;
  //   max-width: 500px;
  //   height: 4.8vh;

  //   outline: 0.5px solid rgba(0, 0, 0, 0.15);
  //   box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  //   position: relative;

  //   input {
  //     all: unset;
  //     width: 90%;
  //     font-size: $m-font;
  //   }
  //   .input-icon {
  //     height: auto;
  //     width: 8.5%;
  //     margin: 0em 0.6rem;
  //     object-fit: contain;
  //   }
  //   .forgot-pswd-link {
  //     position: absolute;
  //     top: 105%;
  //     right: 0%;
  //     font-size: $s-font;
  //     color: #92928e;
  //   }
  // }

  // .login-error-message {
  //   margin-top: 2.2vh;
  // }

  // //link for sign up
  // .text-container {
  //   display: flex;
  //   justify-content: center;
  //   flex-direction: column;
  //   .router-container {
  //     text-align: center;
  //     margin-bottom: 0.5vh;
  //   }
  //   .sign-up-text {
  //     all: unset;
  //     display: inline-block;
  //     font-size: $m-font;
  //     color: black !important;
  //   }
  //   .sign-up-link {
  //     font-size: $m-font;
  //     margin-left: 0.3em;
  //     color: $ready-red;
  //   }
  // }

  // //decoration
  // .decor-container {
  //   @include flex-center(row, center);
  //   margin-bottom: 1vh;
  //   .line {
  //     width: 30%;
  //     max-width: 200px;
  //     height: 0.18rem;
  //     background-color: #92928e;
  //     border-radius: 0.5rem;
  //   }
  //   .decor-text {
  //     margin: 0em 0.5rem;
  //     color: #92928e;
  //     font-size: $m-font;
  //   }
  // }

  // //facebook and google login button template
  // @mixin other-button {
  //   height: clamp(1.2rem, 5.8vh, 4.5rem);
  //   width: 85%;
  //   max-width: 500px;
  //   font-size: $m-font;
  //   border-radius: 2rem;
  //   margin-bottom: 0.7rem;
  // }

  // .other-container {
  //   @include flex-center(column, center);
  //   button {
  //     @include other-button();
  //   }
  //   .facebook-btn {
  //     color: #fcfcfa;
  //     background: linear-gradient(264.57deg, #2660da -4.06%, #3c68a0 96.41%);
  //     border: 0.5px solid rgba(0, 0, 0, 0.15);
  //     box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15),
  //       inset 0px 4px 16px rgba(59, 89, 152, 0.25);
  //   }
  //   .google-btn {
  //     color: #25251c;
  //     background: #fcfcfa;
  //     border: 0.5px solid rgba(0, 0, 0, 0.15);
  //     box-shadow: 0px 2px 2px rgba(37, 37, 28, 0.15),
  //       inset 0px 4px 16px rgba(59, 89, 152, 0.25);
  //   }
  // }

  // ion-spinner {
  //   transform: scale(4);
  //   position: absolute;
  //   top: 50%;
  //   color: $ready-red;
  // }

  // .input-disabled-container {
  //   background-color: $disabled-grey;
}
