@import "/src/global.scss";

.container {
  display: grid;
  grid-template-rows: 35vh 65vh;
  background-color: black;
}

.logo-container {
  @include flex-center(column, center);
  height: 100%;
  .logo {
    height: auto;
    width: 70%;
    max-width: 300px;
    margin: 0.5em;
    object-fit: contain;
  }
}

.card {
  @include flex-center(column, flex-start);
  height: 100%;
  width: 100%;
  background-color: $card-background;
  overflow-x: hidden;
  border-radius: 1em 1em 0em 0em;
  min-height: fit-content;
}

h1 {
  font-size: $l-font;
  color: $ready-red;
  font-weight: 600;
}

.login-form {
  @include flex-center(column, center);

  .input-container {
    @include flex-center(row, center);
    margin: 1.5em 0em;
    border-radius: 2em;

    width: 75%;
    max-width: 400px;

    outline: 0.5px solid rgba(0, 0, 0, 0.15);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);

    position: relative;

    input {
      height: 2.5em;
      width: 90%;
      border: none;
      outline: none;
      font-size: $m-font;
      color: black;
      background-color: transparent !important;
    }
    .input-icon {
      height: 1.8rem;
      width: 1.8rem;
      margin: 0em 0.5em;
    }
    .error-container {
      display: none;
      position: absolute;
      top: 100%;
      width: 100%;
      box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
      background-color: $card-background;
      z-index: 1;

      p {
        padding: 0px 20px;
        color: $ready-red;
        font-size: $m-font;
      }
    }
  }
}

ion-spinner {
  transform: scale(4);
  position: absolute;
  top: 50%;
  color: $ready-red;
}

.input-disabled-container {
  background-color: $disabled-grey;
}

.text {
  color: black;
  margin: 1em 0em;
  text-align: center;
}
