@use "../../utils/styles.scss" as utils;

ion-card-title {
  @include utils.buffet-title;
}

ion-card-subtitle {
  &.md {
    font-weight: 600;
  }

  &.ios {
    font-size: 0.8rem;
  }
}

.divider-bottom {
  padding-bottom: 5px;
  border-bottom: 1px solid var(--ion-color-medium);
}

.select-type-icon {
  margin-right: 5px;
}

.buffet-img {
  width: 100%;
  height: auto;
}
