<ion-card button (click)="cardClick.emit()">
  <img
    alt="Buffet image"
    src="assets/images/buffet.png"
    class="buffet-img"
  />
  <ion-card-header>
    <ion-card-title>{{ buffet.name }}</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <p>
      <b>Büfé címe: </b> {{ buffet.address }}
    </p>
    <p><b>Nyitvatartás: </b>{{ buffet.hours }}</p>
    <p><b>Leírás: </b> {{ buffet.description }}</p>
  </ion-card-content>

  <ion-button fill="clear" color="danger">
    <ion-icon slot="start" name="trash"></ion-icon>
    Törlés
  </ion-button>
</ion-card>

