<div class="container">
  <div class="logo">
    <img src="/assets/icon/Logo.png" alt="" />
  </div>
  <div class="card">
    <h1>Bejelentkezés</h1>
    <form action="">
      <div class="input-container">
        <input type="email" name="" id="email" placeholder="Email" />
      </div>
      <div class="input-container">
        <input type="password" name="" id="pswd" placeholder="Jelszó" />
        <a href="">Elfelejtette jelszavát?</a>
      </div>
      <button class="ready-btn">Bejelentkezés</button>
    </form>

    <p class="sign-up">
      Nincs fiókja? <a class="sign-up-link" href="">Regisztráció</a>
    </p>

    <div class="decor-container">
      <div class="line"></div>
      <p>Vagy</p>
      <div class="line"></div>
    </div>

    <div class="other-container">
      <button class="facebook-btn">Bejelentkezés Facebook fiókkal</button>
      <button class="google-btn">Bejelentkezés Google fiókkal</button>
    </div>
  </div>
</div>
