@import "/src/global.scss";

* {
  margin: 0;
  padding: 0;
  color: black;
}

body {
  background-color: #25251c;
}

.container {
  display: grid;
  grid-template-rows: 35vh 65vh;
  width: 100%;
  height: 100%;
}

.logo {
  height: 100%;
  width: 100%;
  @include flex-center(column);
  img {
    width: 75%;
    height: auto;
    margin: 0.5em;
  }
}

.card {
  height: 100%;
  width: 100%;
  background-color: $card-background;
  @include flex-center(column);
  overflow-x: hidden;
  border-radius: 1em 1em 0em 0em;
}

h1 {
  font-size: $l-font;
  color: $ready-red;
  font-weight: 600;
}

form {
  @include flex-center(column);
}

.input-container {
  @include flex-center(row);
  margin: 0.4em 0em;
  border-radius: 2em;
  width: 85%;

  outline: 0.5px solid rgba(0, 0, 0, 0.15);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);

  input {
    width: 90%;
    height: 2.5em;
    border: none;
    outline: none;
    font-size: $m-font;

    background-color: transparent;
    color: black;
  }
  img {
    height: 2em;
    width: 2em;
    margin: 0em 1em;
  }
}

.pswd-container {
  @include flex-center(column);
  margin: 0.5em 0em;
  a {
    align-self: flex-end;
    margin: 0 12%;
    font-size: $s-font;
    color: #92928e;
  }
}

.sign-up {
  margin: 0.5em 0em;
  font-size: $s-font;
  p {
    display: inline-block;
    font-size: $m-font;
  }
  a {
    font-size: $m-font;
    margin-left: 0.5em;
    color: $ready-red;
  }
}

.decor-container {
  margin: 0.3em 0em;
  @include flex-center(row);
  .line {
    width: 35%;
    height: 0.2em;
    background-color: #92928e;
    border-radius: 0.5em;
  }
  p {
    margin: 0em 0.5em;
    color: #92928e;
  }
}

@mixin other-button {
  height: 2.5rem;
  width: 85%;
  font-size: $m-font;
  color: white;
  border-radius: 2em;
  margin: 0.5em 0em;
}

.other-container {
  @include flex-center(column);
  button {
    @include other-button();
  }
  .facebook-btn {
    color: #fcfcfa;
    background: linear-gradient(264.57deg, #2660da -4.06%, #3c68a0 96.41%);
    border: 0.5px solid rgba(0, 0, 0, 0.15);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15),
      inset 0px 4px 16px rgba(59, 89, 152, 0.25);
  }
  .google-btn {
    background: #fcfcfa;
    color: #25251c;
    border: 0.5px solid rgba(0, 0, 0, 0.15);
    box-shadow: 0px 2px 2px rgba(37, 37, 28, 0.15),
      inset 0px 4px 16px rgba(59, 89, 152, 0.25);
  }
}
