<div class="container">
  <div class="logo">
    <img src="/assets/icon/Logo.png" alt="" />
  </div>
  <div class="card">
    <div class="header">
      <h1>Bejelentkezés</h1>
    </div>
    <form action="">
      <div class="input-container">
        <img src="/assets/iconfify-icons/outline/sms.svg" alt="" />
        <input type="email" name="" id="email" placeholder="Email" />
      </div>
      <div class="pswd-container">
        <div class="input-container">
          <img src="/assets/iconfify-icons/outline/key.svg" alt="" />
          <input type="password" name="" id="pswd" placeholder="Jelszó" />
        </div>
        <a href="">Elfelejtette jelszavát?</a>
      </div>
      <button class="ready-btn">Bejelentkezés</button>
    </form>

    <div class="sign-up">
      <p>Nincs fiókja?</p>
      <a class="sign-up-link" href="">Regisztráció</a>
    </div>

    <div class="decor-container">
      <div class="line"></div>
      <p>Vagy</p>
      <div class="line"></div>
    </div>

    <div class="other-container">
      <button class="facebook-btn">Bejelentkezés Facebook fiókkal</button>
      <button class="google-btn">Bejelentkezés Google fiókkal</button>
    </div>
  </div>
</div>
<!-- <ion-content>
  <google-login-button></google-login-button>
</ion-content>
 -->
