@import "/src/global.scss";

//setting default font color
* {
  color: #25251c;
}

.container {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 35vh 65vh;
  background-color: black;
}

.logo-container {
  @include flex-center(column, center);
  height: 100%;
  width: 100%;
  .logo {
    height: auto;
    width: 75%;
    max-width: 300px;
    margin: 0.5em;
  }
}

//card that contains the input options
.card {
  @include flex-center(column, space-evenly);
  height: 100%;
  width: 100%;
  background-color: $card-background;
  overflow-x: hidden;
  border-radius: 1em 1em 0em 0em;
}

h1 {
  font-size: $l-font;
  color: $ready-red;
  font-weight: 600;
}

//regular login and password input
.login-form {
  @include flex-center(column, center);
}

.input-container {
  @include flex-center(row, center);
  margin: 0.5em 0em;
  border-radius: 2em;

  width: 85%;
  max-width: 500px;

  outline: 0.5px solid rgba(0, 0, 0, 0.15);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);

  input {
    height: 2.5em;
    width: 90%;
    border: none;
    outline: none;
    font-size: $m-font;
    color: black;
    background-color: transparent;
  }
  .input-icon {
    height: 1.8em;
    width: 1.8em;
    margin: 0em 0.5em;
  }
}

.pswd-container {
  @include flex-center(column, center);
  margin: 0.5em 0em;
  .forgot-pswd-link {
    align-self: flex-end;
    margin: 0 12%;
    font-size: $s-font;
    color: #92928e;
  }
}

//link for sign up
.sign-up-container {
  .sign-up-text {
    display: inline-block;
    font-size: $m-font;
    margin: 0em;
  }
  .sign-up-link {
    font-size: $m-font;
    margin-left: 0.3em;
    color: $ready-red;
  }
}

//decoration
.decor-container {
  @include flex-center(row, center);
  .line {
    width: 30%;
    max-width: 200px;
    height: 0.18em;
    background-color: #92928e;
    border-radius: 0.5em;
  }
  .decor-text {
    margin: 0em 0.5em;
    color: #92928e;
    font-size: $m-font;
  }
}

//facebook and google login button template
@mixin other-button {
  height: 2.8em;
  width: 85%;
  max-width: 500px;
  font-size: $m-font;
  border-radius: 2em;
  margin: 0.5em 0em;
}

.other-container {
  @include flex-center(column, center);
  button {
    @include other-button();
  }
  .facebook-btn {
    color: #fcfcfa;
    background: linear-gradient(264.57deg, #2660da -4.06%, #3c68a0 96.41%);
    border: 0.5px solid rgba(0, 0, 0, 0.15);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15),
      inset 0px 4px 16px rgba(59, 89, 152, 0.25);
  }
  .google-btn {
    color: #25251c;
    background: #fcfcfa;
    border: 0.5px solid rgba(0, 0, 0, 0.15);
    box-shadow: 0px 2px 2px rgba(37, 37, 28, 0.15),
      inset 0px 4px 16px rgba(59, 89, 152, 0.25);
  }
}

//responsive
@media screen and (max-height: 750px) {
  div {
    font-size: 13px;
    .logo-container .logo {
      max-width: 220px;
    }
  }
}

@media screen and (min-width: 600px) {
  div {
    font-size: 25px;
    .logo-container .logo {
      max-width: 400px;
    }
  }
}

ion-spinner {
  transform: scale(4);
  position: absolute;
  top: 50%;
  color: $ready-red;
}

.input-disabled-container {
  background-color: $disabled-grey;
}
