<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <!-- <ion-button color="medium" (click)="close()">
        <ion-icon slot="start" icon="chevron-back-outline"></ion-icon>
        Vissza</ion-button
      > -->
      <ion-button color="primary">
        <ion-icon slot="start" icon="chevron-back"></ion-icon>
        Vissza
      </ion-button>
    </ion-buttons>
    <ion-title>Opciók szerkesztése</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-item> </ion-item>
</ion-content>
