<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/admin/products/new"
        (click)="close()"
      ></ion-back-button>
    </ion-buttons>
    <ion-title>Opciók szerkesztése</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <div class="btn-container">
    <ion-button (click)="toggleSorting()">{{
      (sorting$ | async) === false ? "Átrendezés" : "Kész"
    }}</ion-button>
  </div>
  <ion-reorder-group
    [disabled]="(sorting$ | async) === false"
    (ionItemReorder)="handleReorder($event)"
  >
    <ion-item
      [formGroup]="option"
      *ngFor="let option of bindedFormArray.controls"
    >
      <ion-label position="floating">Név</ion-label>
      <ion-input maxlength="120"></ion-input>
      <ion-reorder slot="end"></ion-reorder>
    </ion-item>
    <ion-item> <ion-reorder slot="end"></ion-reorder> </ion-item>
    <ion-item> <ion-reorder slot="end"></ion-reorder> </ion-item>
  </ion-reorder-group>
</ion-content>
