<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Termékek</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" *ngIf="vm$ | async as vm">
  <ion-refresher
    slot="fixed"
    [disabled]="vm.loading"
    (ionRefresh)="handleRefresh($event)"
  >
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-grid>
    <ion-row>
      <ion-col
        size-xs="12"
        size-sm="10"
        size-md="6"
        size-xl="3"
        *ngFor="let product of vm.products; trackBy: productById"
      >
        <app-product-preview
          [product]="product"
          [category]="vm.categories[product.categoryId]"
        ></app-product-preview>
      </ion-col>
    </ion-row>
    <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-grid>
</ion-content>
