<div class="card-container">
  <div class="card">
    <img class="card-img" src="/assets/images/product.png" alt="" />
    <div class="card-body">
      <p class="category">Melegszendvics</p>
      <p class="name">Sonkás melegszendvics</p>
      <p class="customization">Ketchup, BBQ szósz</p>
      <p class="price">500 Ft</p>
    </div>
    <div class="buttons">
      <button class="minus round-btn">-</button>
      <p class="amount">01</p>
      <button class="plus round-btn">+</button>
    </div>
    <div class="delete"></div>
  </div>

  <div class="card">
    <img class="card-img" src="/assets/images/product.png" alt="" />
    <div class="card-body">
      <p class="category">Melegszendvics</p>
      <p class="name">Sonkás melegszendvics</p>
      <p class="customization">Ketchup, BBQ szósz</p>
      <p class="price">500 Ft</p>
    </div>
    <div class="buttons">
      <button class="minus round-btn">-</button>
      <p class="amount">01</p>
      <button class="plus round-btn">+</button>
    </div>
    <div class="delete"></div>
  </div>
</div>
<div class="final-price-container">
  <p class="text">Összesen:</p>
  <p class="final-price">700 Ft</p>
</div>
