<div class="all">
  <app-navbar></app-navbar>
  <div class="before-login">
    <div class="login-container">
      <img src="/assets/icon/Logo.png" alt="" />
      <p class="title">A büfé alkalmazás</p>
      <div class="buttons-container">
        <button id="open-select" class="ready-btn">Keress büfét</button>
        <button id="open-login" class="ready-btn">Jelentkezz be</button>
      </div>
    </div>

    <div class="images-container">
      <h1>A csapatról</h1>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Adipisci
        delectus nihil dicta, veniam necessitatibus facilis temporibus nulla
        quidem. Voluptatum, non itaque qui, maxime dolores, consequatur
        praesentium fuga error odio cum corrupti doloribus perferendis fugiat
        explicabo beatae minus expedita asperiores libero eius! Temporibus neque
        asperiores sit vitae? Ipsum illo enim sit?
      </p>
    </div>

    <div class="news-container">
      <h1>Mi az a Ready!?</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci
        veniam dolorum itaque optio. Officia, nobis ipsam quis debitis
        reiciendis autem vel error tempore quos, adipisci fugit maiores quam
        rerum quo perferendis aliquid laudantium reprehenderit ut quaerat
        expedita. Debitis deserunt, soluta obcaecati velit ab ullam placeat ut
        quod veniam. Quod, possimus.
      </p>
    </div>
  </div>

  <ion-modal #loginModal id="login-modal" trigger="open-login">
    <ng-template>
      <ion-fab slot="fixed" horizontal="end" [edge]="true">
        <ion-fab-button>
          <ion-icon name="close-outline"></ion-icon>
        </ion-fab-button>
      </ion-fab>
      <ion-header>
        <ion-toolbar>
          <ion-title> Bejelenetkezés</ion-title>
        </ion-toolbar>
      </ion-header>
      <p>asd</p>
    </ng-template>
  </ion-modal>
</div>
