<div class="container">
  <div class="logo-container">
    <img class="logo" src="/assets/icon/Logo.png" alt="ready logo" />
  </div>
  <div class="card">
    <h1>Regisztráció</h1>

    <form
      action=""
      class="login-form"
      [formGroup]="signupForm"
      ngxsForm="signup.signupForm"
      (ngSubmit)="signup()"
    >
      <div
        class="input-container"
        [ngClass]="[signupForm.get('name')?.errors && signupForm.get('name')?.value ? 'input-error-outline' : 'input-regular-outline',
        (signupStatus | async)?.loading ? 'input-disabled-container' : '']"
      >
        <input
          class="input-signup"
          type="text"
          name="name"
          formControlName="name"
          id="name"
          placeholder="Felhasználónév"
        />
        <div
          class="error-container"
          [ngClass]="signupForm.get('name')?.errors && signupForm.get('name')?.value ? 'input-error-outline' : 'input-regular-outline'"
        >
          <p *ngFor="let item of signupForm.get('name')?.errors | keyvalue">
            {{item.value}}
          </p>
        </div>
      </div>

      <div
        class="input-container"
        [ngClass]="[signupForm.get('email')?.errors && signupForm.get('email')?.value ? 'input-error-outline' : 'input-regular-outline',
        (signupStatus | async)?.loading ? 'input-disabled-container' : '']"
      >
        <input
          class="input-signup"
          type="email"
          name="email"
          formControlName="email"
          id="email"
          placeholder="Email"
        />
        <div
          class="error-container"
          [ngClass]="signupForm.get('email')?.errors && signupForm.get('email')?.value ? 'input-error-outline' : 'input-regular-outline'"
        >
          <p *ngFor="let item of signupForm.get('email')?.errors | keyvalue">
            {{item.value}}
          </p>
        </div>
      </div>
      <div class="pswd-container">
        <div
          class="input-container"
          [ngClass]="[signupForm.get('pswd')?.errors && signupForm.get('pswd')?.value ? 'input-error-outline' : 'input-regular-outline',
          (signupStatus | async)?.loading ? 'input-disabled-container' : '']"
        >
          <input
            class="input-signup"
            type="password"
            name="password"
            formControlName="password"
            id="pswd"
            placeholder="Jelszó"
          />
          <div
            class="error-container"
            [ngClass]="signupForm.get('password')?.errors && signupForm.get('password')?.value ? 'input-error-outline' : 'input-regular-outline'"
          >
            <p
              *ngFor="let item of signupForm.get('password')?.errors | keyvalue"
            >
              {{item.value}}
            </p>
          </div>
        </div>
      </div>
      <app-validation-message
        [errorMessage]="(signupStatus | async)?.error | errorMessage"
        [visible]="(signupStatus | async)?.error"
      ></app-validation-message>
      <ion-spinner *ngIf="(signupStatus | async)?.loading"></ion-spinner>

      <button
        class="ready-btn"
        type="submit"
        [disabled]="signupForm.get('name')?.errors || signupForm.get('password')?.errors || signupForm.get('email')?.errors"
      >
        Regisztráció
      </button>
    </form>

    <div class="sign-up-container">
      <p class="sign-up-text">Van már fiókja?</p>
      <a class="sign-up-link" href="">Bejelentkezés</a>
    </div>

    <div class="decor-container">
      <div class="line"></div>
      <p class="decor-text">Vagy</p>
      <div class="line"></div>
    </div>

    <div class="other-container">
      <button class="facebook-btn">Regisztráció Facebook fiókkal</button>
      <button class="google-btn">Regisztráció Google fiókkal</button>
    </div>
  </div>
</div>
