<ion-menu [contentId]="contentId" side="end">
  <ion-header>
    <ion-toolbar>
      <ion-title>Termékek szűrése</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <form [formGroup]="form">
      <ion-item>
        <ion-select formControlName="categoryId" placeholder="Select fruit">
          <ion-select-option value="apples">Apples</ion-select-option>
          <ion-select-option value="oranges">Oranges</ion-select-option>
          <ion-select-option value="bananas">Bananas</ion-select-option>
        </ion-select>
      </ion-item>
    </form>
    <ion-button (click)="reset()"></ion-button>
  </ion-content>
</ion-menu>
