<ion-menu
  side="end"
  contentId="buffets-list-page-content"
  [disabled]="isDesktop$ | async"
>
  <ng-container *ngIf="(isDesktop$ | async) === false">
    <ion-header>
      <ion-toolbar>
        <ion-title>Büfék szűrése</ion-title>
        <ion-buttons slot="end">
          <!-- <ion-button (click)="filterContent.reset()">
            <ion-icon
              slot="icon-only"
              icon="backspace"
              color="primary"
            ></ion-icon>
          </ion-button> -->
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <!-- <app-product-filter
        #filterContent
        [categories]="(categories$ | async)! | keyvalue | map : extractValue"
        [categoriesLoading]="(categoriesLoading$ | async) || false"
        (refreshCategories)="refreshCategories()"
      ></app-product-filter> -->
    </ion-content>
  </ng-container>
</ion-menu>

<div class="ion-page" id="buffets-list-page-content">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title class="font-bold">Büfék</ion-title>
      <ion-buttons slot="end">
        <ion-menu-button>
          <ion-icon part="icon" name="funnel"></ion-icon>
        </ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content *ngIf="vm$ | async as vm">
    <ion-refresher
      slot="fixed"
      [disabled]="vm.loading"
      (ionRefresh)="handleRefresh($event)"
    >
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <div class="ion-padding" *ngIf="vm.isDesktop">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Büfék szűrése</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <!-- <app-product-filter
            #filterContent
            [categories]="
              (categories$ | async)! | keyvalue | map : extractValue
            "
            [categoriesLoading]="(categoriesLoading$ | async) || false"
            (refreshCategories)="refreshCategories()"
          ></app-product-filter> -->
        </ion-card-content>
        <!-- <ion-button fill="clear" (click)="filterContent.reset()">
          <ion-icon
            slot="start"
            icon="close-circle-outline"
            color="primary"
          ></ion-icon>
          Feltételek törlése</ion-button
        > -->
      </ion-card>
    </div>

    <div class="content">
      <!-- <div class="overlay-container" *ngIf="vm.typing">
        <app-typing-overlay></app-typing-overlay>
      </div> -->
      <div class="ion-padding">
        <ion-grid>
          <ion-row>
            <ion-col
              size-xs="12"
              size-sm="10"
              size-md="6"
              size-xl="3"
              *ngFor="let buffet of vm.buffets; trackBy: buffetById"
            >
              <app-buffet-preview
                [buffet]="buffet"
                (cardClick)="editBuffet(buffet)"
              ></app-buffet-preview>
            </ion-col>
            <ng-container *ngIf="vm.loading">
              <ion-col
                *ngFor="let item of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]"
                size-xs="12"
                size-sm="10"
                size-md="6"
                size-xl="3"
              >
                <app-buffet-preview-skeleton></app-buffet-preview-skeleton>
              </ion-col>
            </ng-container>
            <app-error-card
              *ngIf="vm.error"
              header="A büfék betöltése sikertelen"
              [error]="vm.error"
              (retry)="retryLoading()"
            ></app-error-card>
          </ion-row>
          <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
            <ion-infinite-scroll-content></ion-infinite-scroll-content>
          </ion-infinite-scroll>
        </ion-grid>
      </div>
    </div>
  </ion-content>
</div>

