@use "/src/theme/variables" as v;

ion-row {
  justify-content: center;
}

@media screen and (min-width: v.$breakpoint-xxl) {
  ion-col {
    --ion-grid-columns: 15;
  }
}

@media screen and (min-width: v.$breakpoint-3xl) {
  ion-col {
    --ion-grid-columns: 18;
  }
}

@media screen and (min-width: 1700px) {
  ion-grid {
    padding: 0 4rem;
  }

  ion-fab {
    margin-bottom: 10px;
    margin-right: 20px;
  }
}

.overlay-container {
  position: absolute;
  z-index: 999;
  height: 100%;
  width: 100%;
}

.content {
  position: relative;
  height: 100%;
}

.title {
  font-weight: bold;
  font-size: 20px;
  color: black;
}
