<div class="header">
  <ion-label class="input-like">Választási lehetőségek</ion-label>

  <ion-button slot="end" shape="round" size="small">
    <ion-icon name="add" slot="icon-only"></ion-icon>
  </ion-button>
</div>

<ion-accordion-group>
  <ion-reorder-group
    [disabled]="false"
    (ionItemReorder)="handleReorder($event)"
  >
    <ion-accordion>
      <ion-item slot="header">
        <ion-label>Méret</ion-label>
        <ion-reorder slot="end"></ion-reorder>
      </ion-item>
      <div slot="content">
        <ion-item class="highlight-primary no-end-padding" counter>
          <ion-label position="floating">Név</ion-label>
          <ion-input maxlength="120"></ion-input>
        </ion-item>
        <ion-item lines="none" class="no-end-padding">
          <ion-label position="fixed">Multi</ion-label>
          <ion-toggle slot="end"></ion-toggle>
        </ion-item>
        <ion-button> Opciók </ion-button>
      </div>
    </ion-accordion>
    <ion-accordion>
      <ion-item slot="header">
        <ion-label>Szósz</ion-label>
        <ion-reorder slot="end"></ion-reorder>
      </ion-item>
      <div class="ion-padding" slot="content">First Content</div>
    </ion-accordion>
  </ion-reorder-group>
</ion-accordion-group>
