<ion-item class="margin-top" lines="none">
  <ion-label position="fixed">Opciók</ion-label>

  <ion-button slot="end" shape="round">
    <ion-icon name="add" slot="icon-only"></ion-icon>
  </ion-button>
</ion-item>
<ion-accordion-group>
  <ion-reorder-group
    [disabled]="false"
    (ionItemReorder)="handleReorder($event)"
  >
    <ion-accordion>
      <ion-item slot="header">
        <ion-label>Méret</ion-label>
        <ion-reorder slot="end"></ion-reorder>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-item>
          <div>
            <ion-label position="stacked">Név</ion-label>
            <ion-input></ion-input>
          </div>
          <div slot="end">
            <ion-label position="stacked">Multi</ion-label>
            <ion-toggle></ion-toggle>
          </div>
        </ion-item>
        <ion-button shape="round">
          <ion-icon name="add" slot="icon-only"></ion-icon>
        </ion-button>
      </div>
    </ion-accordion>
    <ion-accordion>
      <ion-item slot="header">
        <ion-label>Szósz</ion-label>
        <ion-reorder slot="end"></ion-reorder>
      </ion-item>
      <div class="ion-padding" slot="content">First Content</div>
    </ion-accordion>
  </ion-reorder-group>
</ion-accordion-group>
