<div class="header">
  <ion-label class="input-like">Választási lehetőségek</ion-label>

  <ion-button
    slot="end"
    shape="round"
    size="small"
    (click)="addCustomization()"
  >
    <ion-icon name="add" slot="icon-only"></ion-icon>
  </ion-button>
</div>

<ion-accordion-group #accordionGroup>
  <ion-reorder-group
    [disabled]="false"
    (ionItemReorder)="handleReorder($event)"
  >
    <ion-accordion
      [formGroup]="customization"
      [value]="'' + i"
      *ngFor="let customization of bindedFormArray.controls; let i = index"
    >
      <ion-item slot="header">
        <ion-label
          *ngIf="
            (customization.controls.description.valueChanges | async) || true
          "
          >{{ customization.controls.description.value }}</ion-label
        >
        <ion-reorder slot="end"></ion-reorder>
      </ion-item>
      <div slot="content">
        <ion-item class="highlight-primary no-end-padding" counter>
          <ion-label position="floating">Leírás</ion-label>
          <ion-input formControlName="description" maxlength="120"></ion-input>
        </ion-item>
        <ion-item lines="none" class="no-end-padding">
          <ion-label position="fixed">Multi</ion-label>
          <ion-toggle formControlName="isMulti" slot="end"></ion-toggle>
        </ion-item>
        <div class="btn-container">
          <ion-button
            (click)="openOptionEditor(customization.controls.options)"
          >
            Opciók
          </ion-button>
          <ion-button (click)="removeCustomization(i)" color="danger">
            <ion-icon name="trash" slot="icon-only"></ion-icon>
          </ion-button>
        </div>
      </div>
    </ion-accordion>
  </ion-reorder-group>
</ion-accordion-group>
