<div class="ion-page" *ngIf="buffet$ | async as buffets">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title class="font-bold">Büfé szerkesztése</ion-title>
      <ion-buttons slot="end">
        <ion-button
          (click)="save()"
          [disabled]="form.invalid"
          color="light"
          fill="solid"
        >
          <ion-icon name="save-outline" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-card>
      <ion-card-content *ngIf="buffets">
        <form [formGroup]="form" [ngxsForm]="formPath">
          <ion-grid>
            <ion-row>
              <ion-col size-sm="4" size="12">
                <ion-img src="assets/images/buffet.png"></ion-img>
              </ion-col>
              <ion-col>

                <ion-item class="highlight-primary no-end-padding" counter>
                  <ion-label position="floating">Név</ion-label>
                  <ion-input
                    formControlName="name"
                    maxlength="100"
                    minlength="1"
                  >{{ buffets.name }}</ion-input>
                  <div
                    class="end-button-container flex-vertical-center"
                    slot="end"
                  >
                    <ion-button
                      fill="clear"
                      color="dark"
                      (click)="form.controls.name.reset()"
                    >
                      <ion-icon
                        name="close-circle-outline"
                        slot="icon-only"
                      ></ion-icon>
                    </ion-button>
                  </div>
                  <app-error-list
                    slot="error"
                    *ngIf="!form.controls.name.untouched"
                    [errors]="form.controls.name.errors"
                  ></app-error-list>
                </ion-item>

                <ion-item class="highlight-primary no-end-padding" counter>
                  <ion-label position="floating">Leírás</ion-label>
                  <ion-textarea
                    autoGrow
                    formControlName="description"
                    maxlength="800"
                    minlength="1"
                  >{{ buffets.description }}</ion-textarea>
                  <div class="end-button-container" slot="end">
                    <ion-button
                      class="top-margin"
                      fill="clear"
                      color="dark"
                      (click)="form.controls.description.reset()"
                    >
                      <ion-icon
                        name="close-circle-outline"
                        slot="icon-only"
                      ></ion-icon>
                    </ion-button>
                  </div>
                  <app-error-list
                    slot="error"
                    *ngIf="!form.controls.description.untouched"
                    [errors]="form.controls.description.errors"
                  ></app-error-list>
                </ion-item>

                <ion-item class="highlight-primary no-end-padding" counter>
                  <ion-label position="floating">Büfé címe</ion-label>
                  <ion-input
                    autoGrow
                    formControlName="address"
                    maxlength="100"
                    minlength="1"
                    type="string"
                  >{{ buffets.address }}</ion-input>
                  <div
                    class="end-button-container flex-vertical-center"
                    slot="end"
                  >
                    <ion-button
                      class="top-margin"
                      fill="clear"
                      color="dark"
                      (click)="form.controls.address.reset()"
                    >
                      <ion-icon
                        name="close-circle-outline"
                        slot="icon-only"
                      ></ion-icon>
                    </ion-button>
                  </div>
                  <app-error-list
                    slot="error"
                    *ngIf="!form.controls.address.untouched"
                    [errors]="form.controls.address.errors"
                  ></app-error-list>
                </ion-item>

                <ion-item class="highlight-primary no-end-padding" counter>
                  <ion-label position="floating">Koordináták</ion-label>
                  <ion-input
                    autoGrow
                    formControlName="coords"
                    maxlength="100"
                    minlength="1"
                    type="string"
                  >{{ buffets.coords }}</ion-input>
                  <div
                    class="end-button-container flex-vertical-center"
                    slot="end"
                  >
                    <ion-button
                      class="top-margin"
                      fill="clear"
                      color="dark"
                      (click)="form.controls.coords.reset()"
                    >
                      <ion-icon
                        name="close-circle-outline"
                        slot="icon-only"
                      ></ion-icon>
                    </ion-button>
                  </div>
                  <app-error-list
                    slot="error"
                    *ngIf="!form.controls.coords.untouched"
                    [errors]="form.controls.coords.errors"
                  ></app-error-list>
                </ion-item>

                <ion-item class="highlight-primary no-end-padding" counter>
                  <ion-label position="floating">Nyitvatartás</ion-label>
                  <ion-textarea
                    autoGrow
                    formControlName="hours"
                    maxlength="200"
                    minlength="1"
                    type="string"
                  >{{ buffets.hours }}</ion-textarea>
                  <div
                    class="end-button-container flex-vertical-center"
                    slot="end"
                  >
                    <ion-button
                      class="top-margin"
                      fill="clear"
                      color="dark"
                      (click)="form.controls.hours.reset()"
                    >
                      <ion-icon
                        name="close-circle-outline"
                        slot="icon-only"
                      ></ion-icon>
                    </ion-button>
                  </div>
                  <app-error-list
                    slot="error"
                    *ngIf="!form.controls.hours.untouched"
                    [errors]="form.controls.hours.errors"
                  ></app-error-list>
                </ion-item>

              </ion-col>
            </ion-row>
          </ion-grid>
        </form>
      </ion-card-content>

      <ion-button fill="clear" color="danger" (click)="cancel()">
        <ion-icon name=""></ion-icon>
        Mégse
      </ion-button>
      <ion-button fill="clear" color="success">Mentés</ion-button>
    </ion-card>
  </ion-content>
</div>
