@import "/src/global.scss";

* {
  font-family: "Poppins";
  color: black;
  font-size: $m-font;
  margin: 0;
  padding: 0;
}

.container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: grid;
  grid-template-rows: 40vh 60vh;
}

.product-image-container {
  position: relative;
  a {
    position: absolute;
    top: 10%;
    left: 5%;
  }

  img {
    object-fit: cover;
    width: 100%;
  }
}

.card {
  border-radius: 1rem 1rem 0px 0px;
  padding: 0.8rem 1.2rem;
  padding-bottom: 4.5rem;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  background-color: $card-background;

  p {
    margin: 0.5rem 0rem;
  }
  .product-name,
  .price {
    font-size: $l-font;
    font-weight: 600;
  }
  .extra-info-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    justify-self: center;
    .prep-time {
      display: flex;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
      margin: 0.5rem 0;
      svg {
        margin: 0 0.3rem;
      }
      span {
        font-size: $s-font;
      }
    }
    .star-rating {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0.5rem 0;
      span {
        font-size: $s-font;
        margin: 0 0.3rem;
      }
    }
  }
  .extras-container {
    p {
      font-weight: 500;
    }
    .possibilities {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      padding: 0rem 1rem;

      ion-item {
        --background: transparent;
        --ripple-color: transparent;
        --background-hover: transparent;
        --background-activated: transparent;
        --padding-start: 0px;
        --inner-padding-end: 0px;
        ion-checkbox {
          width: 1.4rem;
          height: 1.4rem;
          --background-checked: #c30b00;
          --checkmark-width: 0.2rem;
          margin: 0 0.3rem;
        }
        ion-radio {
          width: 1.4rem;
          height: 1.4rem;
          margin: 0 0.3rem;
          --checkmark-width: 0.2rem;
        }

        ion-label {
          font-size: $s-font;
        }

        ion-checkbox::part(container) {
          border-radius: 0.4rem;
          border: 2px solid $ready-red;
        }

        ion-radio::part(container) {
          border-radius: 100%;
          border: 2px solid $ready-red;
        }
      }
    }
  }

  .price-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 1rem 0;
    flex-wrap: wrap;
    .add-amount-container {
      height: 3.6rem;
      width: calc(30vw + 2rem);
      min-width: 8rem;
      background-color: $ready-red;
      border-radius: 5rem;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      button {
        background-color: transparent;
        color: $card-background;
        font-size: $l-font;
      }
    }
  }

  .description-container {
    .cap {
      font-weight: 500;
    }
    .description-text {
      font-size: $s-font;
      margin-bottom: 1rem;
    }
  }
}

.amount-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70%;
  aspect-ratio: 1/1;
  min-height: 2.2rem;
  background-color: $card-background;
  border-radius: 100%;
  span {
    font-weight: 500;
  }
}

.order-btn {
  background-color: $ready-red;
  color: white;
  position: static;
  z-index: 20010;
  width: 90%;
  max-width: 40rem;
  height: 3.6rem;
  position: absolute;
  bottom: 2.5%;
  left: 50;
  display: grid;
  grid-template-columns: 20% 60% 20%;
  justify-items: center;
  align-items: center;
  border-radius: 5rem;
  svg {
    width: $l-font;
  }
}

ion-modal {
  --width: 100%;
}
