<ion-item>
  <ng-container *ngIf="!isEditing; else editingView">
    <ion-label>{{ category.name }}</ion-label>
    <ion-button (click)="editing.emit()" fill="clear" color="medium">
      <ion-icon name="create-outline" slot="icon-only"></ion-icon>
    </ion-button>
    <ion-button fill="clear" color="danger">
      <ion-icon name="trash-outline" slot="icon-only"></ion-icon>
    </ion-button>
  </ng-container>

  <ng-template #editingView>
    <ion-input></ion-input>
    <ion-button
      slot="end"
      fill="clear"
      size="medium"
      (click)="editingStopped.emit(false)"
    >
      <ion-icon name="close-outline" size="medium" slot="icon-only"></ion-icon>
    </ion-button>
  </ng-template>
</ion-item>
