<ion-item>
  <ion-input disabled>Asd</ion-input>
  <div slot="end">
    <ion-button (click)="editing.emit()" fill="clear" color="medium">
      <ion-icon name="create-outline" slot="icon-only"></ion-icon>
    </ion-button>
    <ion-button fill="clear" color="danger">
      <ion-icon name="trash-outline" slot="icon-only"></ion-icon>
    </ion-button>
  </div>

  <ng-template #editingView>
    <ion-label position="floating">Kategória neve</ion-label>
    <ion-input placeholder="Enter text"></ion-input>
    <ion-button
      slot="end"
      fill="clear"
      size="medium"
      (click)="editingStopped.emit(false)"
    >
      <ion-icon name="close-outline" size="medium" slot="icon-only"></ion-icon>
    </ion-button>
  </ng-template>
</ion-item>
