<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="font-bold">Új termék létrehozása</ion-title>

    <!--   <ion-buttons slot="end" class="mobile-buttons">
      <ion-button (click)="save()" fill="clear">
        <ion-icon name="save-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-content *ngIf="(noBuffetSelected$ | async)===false">
      <app-admin-product-editor
        [bindedFormGroup]="form"
        [formPath]="formPath"
        (categoriesReloaded)="reloadCategories()"
      ></app-admin-product-editor>
    </ion-card-content>

    <ion-card-content
      class="error-container"
      *ngIf="(noBuffetSelected$ | async)===true"
    >
      <app-error-card
        color="warning"
        icon="alert-outline"
        [error]="categoryError$ | async"
        [showRetryButton]="false"
      ></app-error-card>
    </ion-card-content>

    <app-admin-button-group
      [loading]="(status$ | async)?.loading === true"
      [saveDisabled]=" 
          form.invalid ||
          (status$ | async)?.loading === true ||
          (noBuffetSelected$ | async) === true"
      (save)="save()"
      (cancel)="cancel()"
    ></app-admin-button-group>
  </ion-card>
</ion-content>
