<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="font-bold">Új termék létrehozása</ion-title>

    <!--   <ion-buttons slot="end" class="mobile-buttons">
      <ion-button (click)="save()" fill="clear">
        <ion-icon name="save-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" *ngIf="vm$ | async as vm">
  <ion-card>
    <ion-card-content *ngIf="!vm.noBuffetSelected">
      <app-admin-product-editor
        [bindedFormGroup]="form"
        [formPath]="formPath"
        (categoriesReloaded)="reloadCategories()"
      ></app-admin-product-editor>
    </ion-card-content>

    <ion-card-content class="error-container" *ngIf="vm.noBuffetSelected">
      <app-error-card
        color="warning"
        icon="alert-outline"
        [error]="vm.categoryError"
        [showRetryButton]="false"
      ></app-error-card>
    </ion-card-content>

    <app-admin-button-group
      [loading]="vm.status?.loading === true"
      [saveDisabled]=" 
          form.invalid ||
          vm.status?.loading === true ||
          vm.noBuffetSelected"
      (save)="save()"
      (cancel)="cancel()"
    ></app-admin-button-group>
  </ion-card>
</ion-content>
