@use "/src/theme/variables" as v;
@use "../../utils/styles.scss" as utils;

@media screen and (min-width: v.$breakpoint-xxl) {
  ion-card {
    margin: 0 16rem;
  }
}

@media screen and (min-width: v.$breakpoint-xl) {
  .mobile-buttons {
    display: none;
  }
}

@media screen and (max-width: v.$breakpoint-xl) {
  .desktop-buttons {
    display: none;
  }
}

.name-input ion-input {
  @include utils.product-title;
}

.top-margin {
  margin-top: 20px;
}

ion-note {
  text-align: center;
  display: block;
  font-size: 120%;
}

.error-container {
  display: flex;
  justify-content: center;
}
