<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="font-bold">Termék szerkesztése</ion-title>

    <!--   <ion-buttons slot="end" class="mobile-buttons">
      <ion-button (click)="save()" fill="clear">
        <ion-icon name="save-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-content>
      <form
        [formGroup]="form"
        [ngxsForm]="formPath"
        [ngxsFormClearOnDestroy]="true"
      >
        <ion-grid>
          <ion-row>
            <ion-col size-lg="4" size="12">
              <app-image-selector
                label="Termék képe"
                [bindedFormControl]="form.controls.image"
              ></app-image-selector>
              <ng-container
                *ngIf="(isDesktop$|async) === false; else descriptionInput"
              ></ng-container>
            </ion-col>
            <ion-col>
              <ion-item class="highlight-primary no-end-padding" counter>
                <ion-label position="floating">Név</ion-label>
                <ion-input formControlName="name" [maxlength]="100"></ion-input>
                <div
                  class="end-button-container flex-vertical-center"
                  slot="end"
                >
                  <app-clear-input-button
                    [bindedFormControl]="form.controls.name"
                  ></app-clear-input-button>
                </div>
                <app-error-list
                  slot="error"
                  *ngIf="!form.controls.name.untouched"
                  [errors]="form.controls.name.errors"
                ></app-error-list>
              </ion-item>

              <app-selector-input
                displayProperty="name"
                valueProperty="id"
                title="Kategória"
                [bindedFormControl]="form.controls.categoryId"
                [loading]="(categoriesLoading$ | async) === true"
                [items]="(categories$ | async)!"
                (refresh)="reloadCategories()"
              ></app-selector-input>

              <ng-container
                *ngIf="(isDesktop$|async) === true; else descriptionInput"
              ></ng-container>

              <ion-item class="highlight-primary no-end-padding">
                <ion-label position="floating">Csökkentett ár</ion-label>
                <ion-input
                  autoGrow
                  [formControl]="form.controls.discountedPrice"
                  maxlength="800"
                  minlength="1"
                  type="number"
                ></ion-input>
                <div
                  class="end-button-container flex-vertical-center"
                  slot="end"
                >
                  <app-clear-input-button
                    [bindedFormControl]="form.controls.discountedPrice"
                  ></app-clear-input-button>
                </div>
                <app-error-list
                  slot="error"
                  *ngIf="!form.controls.discountedPrice.untouched"
                  [errors]="form.controls.discountedPrice.errors"
                ></app-error-list>
              </ion-item>

              <ion-item class="highlight-primary no-end-padding">
                <ion-label position="floating">Teljes ár</ion-label>
                <ion-input
                  autoGrow
                  [formControl]="form.controls.fullPrice"
                  maxlength="800"
                  minlength="1"
                  type="number"
                ></ion-input>
                <div
                  class="end-button-container flex-vertical-center"
                  slot="end"
                >
                  <app-clear-input-button
                    [bindedFormControl]="form.controls.fullPrice"
                  ></app-clear-input-button>
                </div>
                <app-error-list
                  slot="error"
                  *ngIf="!form.controls.fullPrice.untouched"
                  [errors]="form.controls.fullPrice.errors"
                ></app-error-list>
              </ion-item>

              <ion-item class="highlight-primary no-end-padding">
                <ion-label position="floating">Raktáron</ion-label>
                <ion-input
                  autoGrow
                  [formControl]="form.controls.stock"
                  maxlength="800"
                  minlength="1"
                  type="number"
                ></ion-input>
                <div
                  class="end-button-container flex-vertical-center"
                  slot="end"
                >
                  <app-clear-input-button
                    [bindedFormControl]="form.controls.stock"
                  ></app-clear-input-button>
                </div>
                <app-error-list
                  slot="error"
                  *ngIf="!form.controls.stock.untouched"
                  [errors]="form.controls.stock.errors"
                ></app-error-list>
              </ion-item>

              <!--<ion-list>
                      <ion-item
                        counter
                        *ngFor="let customization of [1,2]; let i = index"
                      >
                        <ion-label position="floating">Név</ion-label>
                        <ion-input [maxlength]="120"></ion-input>
                         <ion-toggle slot="end" [checked]="true"></ion-toggle>
                        <app-error-list
                          slot="error"
                          *ngIf="!option.controls.name.untouched"
                          [errors]="option.controls.name.errors"
                        ></app-error-list>
                      </ion-item>
                    </ion-list> -->

              <app-customization-editor
                [bindedFormArray]="form.controls.customizations"
              ></app-customization-editor>
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>
      <ion-note color="danger" *ngIf="(status$ | async)?.error as error"
        >{{error | errorMessage}}</ion-note
      >
    </ion-card-content>

    <div class="button-container">
      <ion-button fill="clear" color="medium" (click)="cancel()">
        Mégse
      </ion-button>
      <ion-button
        fill="clear"
        color="success"
        [disabled]="form.invalid || (status$ | async)?.loading === true"
        (click)="save()"
      >
        Mentés
      </ion-button>
      <ion-spinner
        color="primary"
        *ngIf="(status$ | async)?.loading === true"
      ></ion-spinner>
    </div>
  </ion-card>

  <p>{{(a|async).customizations | json}}</p>
</ion-content>

<ng-template #descriptionInput>
  <ion-item class="highlight-primary no-end-padding" counter>
    <ion-label position="floating">Leírás</ion-label>
    <ion-textarea
      autoGrow
      [formControl]="form.controls.description"
      maxlength="800"
      minlength="1"
    ></ion-textarea>
    <div class="end-button-container" slot="end">
      <div class="top-margin">
        <app-clear-input-button
          [bindedFormControl]="form.controls.description"
        ></app-clear-input-button>
      </div>
    </div>
    <app-error-list
      slot="error"
      *ngIf="!form.controls.description.untouched"
      [errors]="form.controls.description.errors"
    ></app-error-list>
  </ion-item>
</ng-template>
