@import "/src/global.scss";

.main {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: calc(100vh - 4.8rem);
  overflow: auto;
}

.container {
  margin-top: 8rem;
  padding: 1rem;
  background-color: $card-background;
  border-radius: 0.2rem;
  box-shadow: 4px 4px 15px 0px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 1rem;
  min-height: 300px;
  height: 60%;
  width: 25%;
  min-width: 375px;
  overflow: auto;
}
