<div class="desktop-background">
  <app-navbar></app-navbar>
  <div class="container">
    <div class="buffet-select-container">
      <!-- <app-buffet-select></app-buffet-select> -->
    </div>
    <div class="buffet-description-container">
      <img src="/assets/images/buffet.png" alt="">
      <p class="buffet-name">Jedlik büfé</p>
      <p class="buffet-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum blanditiis eaque itaque ex debitis hic aliquid ut maiores? Delectus corrupti nihil aliquid excepturi libero magni commodi accusamus a at maiores?</p>
      <p class="open-hours">asdadad</p>
      <button class="ready-btn">Kiválasztás</button>
    </div>
  </div>

</div>
