@import "/src/global.scss";

* {
  font-family: "Poppins";
  color: black;
  font-size: $m-font;
  margin: 0;
  padding: 0;
}

ion-grid {
  height: calc(100vh - 4.8rem);
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-div {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    border-radius: 20px;
  }
}

.backgroud-box {
  background-color: $card-background;
  border-radius: 20px;
  padding: 20px;

  -webkit-box-shadow: 14px 12px 30px -16px rgba(66, 68, 90, 1);
  -moz-box-shadow: 14px 12px 30px -16px rgba(66, 68, 90, 1);
  box-shadow: 14px 12px 30px -16px rgba(66, 68, 90, 1);
}

.div-margin {
  display: block;
  margin: 0 auto;
}

.container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: grid;
}

.card {
  padding: 0rem 1.2rem;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  background-color: white;
  p {
    margin: 0.5rem 0rem;
    font-size: 1.5rem;
  }
  .product-name {
    font-size: $l-font;
    font-weight: 600;
    font-size: 2rem;
    text-align: left;
  }
  .product-category {
    font-size: $l-font;
    font-weight: 400;
    font-size: 1.3rem;
    text-align: left;
  }
  .price {
    font-size: $l-font;
    font-weight: 600;
    font-size: 2rem;
  }
  .extras-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    p {
      font-weight: 500;
    }
    .possibilities {
      display: grid;
      grid-template-columns: repeat(3, 33%);
      align-content: center;

      ion-item {
        --background: transparent;
        --ripple-color: transparent;
        --background-hover: transparent;
        --background-activated: transparent;
        --padding-start: 0px;
        --inner-padding-end: 0px;
        margin: 0 10px;
        ion-checkbox {
          width: 1.4rem;
          height: 1.4rem;
          --background-checked: #c30b00;
          --checkmark-width: 0.2rem;
          margin: 0 0.3rem;
        }
        ion-radio {
          aspect-ratio: 1/1;
          width: 1.4rem;
          height: 1.4rem;
          margin: 0 0.3rem;
          --checkmark-width: 0.2rem;
        }

        ion-label {
          font-size: 1.3rem;
          width: max-content;
          word-wrap: break-word;
        }

        ion-checkbox::part(container) {
          border-radius: 0.4rem;
          border: 2px solid $ready-red;
        }

        ion-radio::part(container) {
          border-radius: 100%;
          border: 2px solid $ready-red;
        }
      }
    }
    .order {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .price-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 1rem 0;
    flex-wrap: wrap;
    .add-amount-container {
      height: 3.6rem;
      width: calc(30vw + 2rem);
      max-width: 20.5rem;
      min-width: 8rem;
      background-color: $ready-red;
      border-radius: 5rem;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      button {
        background-color: transparent;
        color: $card-background;
        font-size: $l-font;
      }
    }
  }

  .description-container {
    .cap {
      font-weight: 500;
    }
    .description-text {
      font-size: $s-font;
      margin-bottom: 1rem;
      font-size: 1.5rem;
    }
  }
}

.amount-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70%;
  aspect-ratio: 1/1;
  min-height: 2.2rem;
  background-color: $card-background;
  border-radius: 100%;
  span {
    font-weight: 500;
  }
}

.order-btn {
  background-color: $ready-red;
  color: white;
  z-index: 20010;
  width: 90%;
  max-width: 30rem;
  height: 3.6rem;
  bottom: 2.5%;
  left: 50;
  display: grid;
  grid-template-columns: 20% 60% 20%;
  justify-items: center;
  align-items: center;
  border-radius: 5rem;
  margin-top: 1rem;
  svg {
    width: $l-font;
  }
}

ion-modal {
  --width: 100%;
}
