<ion-header>
  <ion-toolbar>
    <ion-title>Kategóriák</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col offset-xl="3" size-xl="6">
        <ion-list>
          <ion-item *ngFor="let item of ['Péksütemények', 'Italok']; let index">
            <ion-label>{{ item }}</ion-label>
          </ion-item>
        </ion-list>
        <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
          <ion-infinite-scroll-content></ion-infinite-scroll-content>
        </ion-infinite-scroll>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
