<ion-header>
  <ion-toolbar>
    <ion-title>Kategóriák</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col offset-xl="3" size-xl="6">
        <ion-list>
          <app-buffets-category-display
            *ngFor="let category of categories$ | async; let index"
            [category]="category"
          ></app-buffets-category-display>
        </ion-list>
        <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
          <ion-infinite-scroll-content></ion-infinite-scroll-content>
        </ion-infinite-scroll>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
