<div class="navbar">
  <div class="nav-item logo">
    <img src="/assets/icon/Logo-nolabel.png" alt="" />
  </div>

  <div class="nav-item">
    <a [ngClass]="currentPage == '/main-desktop' ? 'active' : ''" href=""
      >Menü</a
    >
  </div>

  <div class="nav-item">
    <a [ngClass]="currentPage == '/cart-desktop' ? 'active' : ''" href=""
      >Kosár</a
    >
  </div>

  <div class="nav-item">
    <a [ngClass]="currentPage == '/order-desktop' ? 'active' : ''" href=""
      >Rendelésem</a
    >
  </div>

  <div class="nav-item">
    <a
      [ngClass]="currentPage == '/buffet-select-desktop' ? 'active' : ''"
      href=""
      >Helyzet</a
    >
  </div>

  <div class="nav-item login">
    <button id="open-login-nav">Bejelentkezés</button>
  </div>
</div>
